<style>
	.featured-collection-product {
	    background-color: #f8f9fa;
	    padding: {{ section.settings.count }}px 0;
	}
	   .section-title{
	       text-align: {{ section.settings.section_Title_alignment }};
	       margin-bottom: 30px;
	       font-size: 2rem;
	       font-weight: bold;
	   }
</style>

<section class="featured-collection-product">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<h2 class="section-title">{{ section.settings.section_title }}</h2>
			</div>
		</div>
		<div class="row">
			{% comment %} {%- paginate collections.all.products by 30 -%} {% endcomment %}
			{%- if section.settings.collections.products.size > 0 -%}
				{% for product in section.settings.collections.products limit: 8 %}
					<div class="col-xl-{{ section.settings.card_count }} mb-4">
						{%- render 'product-card', product: product -%}
					</div>
				{% endfor %}
			{%- else -%}
				no products found
			{%- endif -%}
			{% comment %}
				<div>
						{{- paginate | default_pagination -}}
					</div>
				{%- endpaginate -%}
			{% endcomment %}
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Featured Product",
	"class": "tp-product-section",
	"settings": [
		{
			"type": "range",
			"id": "count",
			"min": 50,
			"max": 150,
			"step": 5,
			"unit": "px",
			"label": "Padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "card_count",
			"min": 2,
			"max": 6,
			"step": 1,
			"label": "card count",
			"default": 3
		},
		{
			"type": "text",
			"id": "section_title",
			"label": "section title",
			"default": "Featured Product"
		},
		{
			"type": "select",
			"id": "section_Title_alignment",
			"label": "section title alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "center"
		},
		{
			"type": "text",
			"id": "sold_title",
			"label": "Sold Out",
			"default": "Sold Out"
		},
		{
			"type": "text",
			"id": "sale_title",
			"label": "Sale",
			"default": "Sale"
		},
		{
			"type": "collection",
			"id": "collections",
			"label": "collections"
		}
	],
	"presets": [
		{
			"name": "Featured Product",
			"settings": {}
		}
	]
}
{% endschema %}
